<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solskydd.se &#8211; Persienner, rullgardiner, balkonginglasning</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header class="main-header">
        <div class="contact-header">
            <ul class="contact-items">
                <li>
                    <a href=""><span class="fa-solid fa-phone"></span>
                    <span>+08 - 800 800</span></a>
                </li>
                <li>
                    <a href=""><span class="fa-solid fa-envelope"></span>
                    <span>info@solskydda.se</span></a>
                </li>
            </ul>
        </div>
        
        <div class="menu-header">
            <div class="logo-container">
                <img src="../assets/images/Image 37.png">
            </div>
            
            <ul class="menu-items">
                <li><a href="">Solskydd inomhus</a></li>
                <li><a href="">Solskydd utomhus</a></li>
                <li><a href="">Inspiration</a></li>
                <li><a href="">Om oss</a></li>
            </ul>

            <div class="contact-button">
                <a href="">Boka hembesök</a>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="overlay"></div>
        <img src="../assets/images/Image 20.png" class="banner-img">

    </div>
</body>
</html>