<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Solskydd.se &#8211; Persienner, rullgardiner, balkonginglasning</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/style.css">

</head>
<body>
    <header class="main-header">
        <div class="contact-header">
            <ul class="contact-items">
                <li>
                    <a href="tel:%20+08%20-%20800%20800"><i class="fa-solid fa-phone"></i>
                    <span>+08 - 800 800</span></a>
                </li>
                <li>
                    <a href="mailto:%20info@solskydda.se"><i class="fa-solid fa-envelope"></i>
                    <span>info@solskydda.se</span></a>
                </li>
            </ul>
        </div>
        
        <div class="menu-header">
            <div class="logo-container">
                <a href=""><img src="../assets/images/logo.png"></a>
            </div>
            
            <ul class="menu-items">
                <li class="indoor">
                    <a href="">Solskydd inomhus<i class="fa-solid fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="">Plisségardiner</a></li>
                        <li><a href="">Persienner</a></li>
                        <li><a href="">Rullgardiner</a></li>
                        <li><a href="">Lamellgardiner</a></li>
                        <li><a href="">Insektsnät</a></li>
                    </ul>
                </li>
                <li class="outdoor">
                    <a href="">Solskydd utomhus<i class="fa-solid fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="">Fönstermarkiser</a></li>
                        <li><a href="">Pergola</a></li>
                        <li><a href="">Screen</a></li>
                        <li><a href="">Terassmarkiser</a></li>
                        <li><a href="">Sidomarkiser</a></li>
                    </ul>
                </li>
                <li><a href="">Inspiration</a></li>
                <li><a href="">Om oss</a></li>
                <li><a href="">Kontakta oss</a></li>
            </ul>

            <div class="book-home-visit">
                <a href="">Boka hembesök</a>
            </div>
        </div>
    </header>

    <div class="banner-section">
        <img src="../assets/images/background.png" class="banner-img">

        <div class="banner-container">
            <div class="banner-text-container">
                <div class="text-container">
                    <h1>Solskydd för balkong, dörrar & tak</h1>

                    <ul class="description">
                        <li><i></i><span>Solskydd av högsta kvalitet</span></li>
                        <li><i></i><span>Skandinavisk design som passar alla hem</span></li>
                        <li><i></i><span>Ökar livskvalitet och värdet på ert hem</span></li>
                    </ul>

                    <div class="banner-buttons">
                        <div class="see-our-products">
                            <a href="">Se våra produkter</a>
                        </div>

                        <div class="book-home-visit-banner">
                            <a href="">Boka hembesök</a>
                        </div>
                    </div>
                </div>
                <div class="empty-container"></div>
            </div>
        </div>
    </div>

    <div class="video-section">

    </div>
</body>
</html>