body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    font-weight: 500;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
  }
  @media (max-width: 599px) {
    html {
      font-size: 60%;
    }
  }
  @media (min-width: 700px) {
    html {
      font-size: 70%;
    }
  }
  @media (min-width: 900px) {
    html {
      font-size: 85%;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 100%;
    }
  }