@mixin for-phone-small {
    @media (max-width: 320px) { @content; }
  }
  @mixin for-phone-only {
      @media (max-width: 480px) { @content; }
  }
  @mixin extra{
    @media (max-width: 533px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-mobile {
    @media (max-width: 767px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (max-width: 900px) { @content; }
  }
  @mixin for-desktop-small {
    @media (max-width: 1024px) { @content; }
  }
  @mixin for-desktop-up {
    @media (max-width: 1200px) { @content; }
  }
  @mixin for-desktop {
    @media (max-width: 1400px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (max-width: 1800px) { @content; }
  }