@import '../responsive';

.text-container h1{
    padding: 0 35px;
    font-size: 52px;
    margin-bottom: 10px;
}

.description{
    margin: 0;
    list-style: none;
    padding-top: 15px;
}

.description li{
    padding-bottom: 20px;
}

.description li span{
    padding-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
}