@import '../responsive';

.text-container h1{
    padding: 0 35px;
    font-size: 3.3rem;
    margin-bottom: 10px;

    @include for-mobile{
        text-align: center;
    }

    @include for-phone-only{
        padding: 0 10px;;
    }
}

.description{
    margin: 0;
    list-style: none;
    padding-top: 15px;

    @include for-phone-only{
        padding-left: 0;
    }
}

.description li{
    padding-bottom: 20px;
}

.description li span{
    padding-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;

    @include for-mobile{
        font-size: 1.4rem;
    }
}