@import '../responsive';

.book a{
    padding:15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;

    @include for-mobile{
        font-size: 1.3rem;
    }
}

.book a:hover{
    background-color: #c27100;

}

.book-bg a:hover{
    background-color: #C78529;
    border: 2px solid #C78529;
    color: #FFFFFF;
    transition: all .3s;
}

.btns{
    align-items: center;
    display: flex;
    width: auto;

    @include for-mobile{
        font-size: 1.3rem;
    }
}

.banner-buttons{
    display: flex;
    width: 100%;
    height: 55px;
    margin: auto auto;
    margin-left: 65px;

    @include for-mobile{
        margin: 25px auto;
    }
}

.book-home-visit{
    margin-left: 20px;
    margin-right: 90px;

    @include for-desktop-up{
        margin-right: 0;
    }
}

.book-home-visit-banner a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 13.7px 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
}

.video-text-buttons{
    display: flex;
    width: 100%;
    height: 55px;
    margin: 15px 30px;
}

.book-home-visit-video a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 13px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

.book-home-visit-idea{
    display: flex;
    justify-content: center;
    padding: 25px 0 5px 0;
    font-weight: 400;
}

.decor{
    padding-bottom: 15px;
}

.decor a{
    font-family: 'Ubuntu', sans-serif;
    width: 120px;
    font-weight: 400;
    padding: 10px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;

    @include for-phone-only{
        margin-right: 14px;
    }
}

.contact-details{
    margin-top: 5px;
    text-align: right;

    @include for-mobile{
        text-align: left;
    }
}

.contact-details .disable-btn{
    padding: 10px 15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.disable-btn:hover{
    cursor: pointer;
    background-color: #c27100;
}

