@import '../responsive';

.book a{
    padding:15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;

    @include for-mobile{
        font-size: 1.3rem;
    }
}

.book a:hover{
    background-color: #c27100;

}

.book-bg a:hover{
    background-color: #C78529;
    border: 2px solid #C78529;
    color: #FFFFFF;
    transition: all .3s;
}

.btns{
    align-items: center;
    display: flex;
    margin-right: 0;
    width: auto;

    @include for-mobile{
        padding-bottom: 10px;
        font-size: 1.3rem;
    }

    @include for-desktop{
        padding-bottom: 10px;
    }
}

.banner-buttons{
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 55px;
    margin-top: 25px;
    margin-left: 40px;

    @include for-mobile{
        width: 70% !important;
        margin: 25px auto;
        font-size: 1.3rem;
    }

    @include for-desktop{
        width: 65%;
    }

    @include for-desktop-up{
        width: 50%;
    }

    @include for-desktop-small{
        width: 50%;
    }
    
    @include for-phone-only{
        width: 90% !important;
    }
}

.book-home-visit-banner a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 13.7px 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.video-text-buttons{
    display: flex;
    justify-content: space-between;
    width: 51%;
    height: 55px;
    margin-top: 15px;
    margin-left: 40px;

    @include for-mobile{
        width: 50% !important;
        margin: 25px 0 25px 25px;
        font-size: 1.3rem;
    }
    
    @include for-phone-only{
        width: 65% !important;
    }

    @include extra{
        width: 68%;
    }
    
    @include for-desktop{
        width: 55.5%;
    }

    @include for-desktop-small{
        width: 62%;
    }
}

.book-home-visit-video a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 13px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

.book-home-visit-idea{
    display: flex;
    justify-content: center;
    padding: 25px 0 5px 0;
    font-weight: 400;
}

.decor a{
    font-family: 'Ubuntu', sans-serif;
    width: 120px;
    font-weight: 400;
    padding: 10px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
}

.contact-details{
    margin-top: 5px;
}

.contact-details .disable-btn{
    padding: 10px 15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.disable-btn:hover{
    cursor: pointer;
    background-color: #c27100;
}