@import '../responsive';

.book a{
    padding:15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
}

.book a:hover{
    background-color: #c27100;

}

.book-bg a:hover{
    background-color: #C78529;
    border: 2px solid #C78529;
    color: #FFFFFF;
    transition: all .3s;
}

.btns{
    align-items: center;
    display: flex;
    margin-right: 0;
    width: auto;
}

.banner-buttons{
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 55px;
    margin-top: 25px;
    margin-left: 40px;

    @include for-mobile{
        width: 60%;
        margin: 25px auto;
    }
}

.book-home-visit-banner a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 15px 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.video-text-buttons{
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 55px;
    margin-top: 15px;
    margin-left: 40px;
}

.book-home-visit-video a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 13px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

.book-home-visit-idea{
    display: flex;
    justify-content: center;
    padding: 25px 0 5px 0;
    font-weight: 400;
}

.decor a{
    font-family: 'Ubuntu', sans-serif;
    width: 120px;
    font-weight: 400;
    padding: 10px 15px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
}

.contact-details{
    margin-top: 5px;
}

.contact-details .disable-btn{
    padding: 10px 15px;
    background-color: #C78529;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.disable-btn:hover{
    cursor: pointer;
    background-color: #c27100;
}