.contact-heading h1{
    font-size: 37px;
    padding-bottom: 5px;
}

.contact-heading p{
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}

form p{
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

input, textarea{
    border: none;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

.info-container input{
    padding: 13px;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;

    @include for-mobile{
        margin-top: 15px;
    }
}

.place-container input{
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    border-radius: 3px;
}

.text-area{
    width: 100%;
    height: 110px;
    margin-top: 15px;
    padding: 13px;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-checkbox-button{
    display: flex;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
}

.checkbox-container{
    display: flex;
}

.checkbox-container p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

.inp{
    margin-right: 10px;
}