.contact-items .fa-phone{
    padding-right: 7px;
}

.contact-items .fa-envelope{
    padding-right: 7px;
}

.menu-items .fa-angle-down{
    padding-left: 5px;;
    padding-top: 2px;
    font-size: 11px;
}

.footer-contact .fa-phone{
    padding-right: 9px;
}

.footer-contact .fa-envelope{
    padding-right: 9px;
}

.footer-contact .fa-location-dot{
    padding-right: 9px;
}