.idea-solution-heading p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.idea-solution-heading h1{
    margin: 0;
}

.idea-img{
    height: 111px;
}
