.idea-solution-heading p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.idea-solution-heading h1{
    margin: 0;
    font-size: 2.3rem;
}

.idea-box h3{
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.idea-box p{
    text-align: center;
    line-height: 1.5;
    padding: 0 15px;
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

