@import '../responsive';

.banner-section .banner-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;

    @include for-desktop-small{
        max-width: 1200px;
    }
}

.text-container .description li i{
    background-image: url('./images/checkmark.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    position: absolute;
    transform: translate(0,-10%);
}

.video-video-container .image{
    position: relative;
    background-image: url('./images/video-img.png');
    height: 66%;
    width: auto;
    margin: 48px 45px;
    background-position: center;
    background-size: cover;

    @include for-mobile{
        margin: 0;
    }
}


.video-description li i{
    background-image: url('./images/circle-checkmark.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    position: absolute;
    transform: translate(0,-10%);
}

.video-button{
    background-image: url('./images/video-button.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.idea-img{
    height: 111px;
}

.inspiration-img-wrapper img{
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
    height: auto;
}

.protection-img-container img{
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
}

.footer-desc ul li i{
    background-image: url('./images/circle-checkmark-white.png');
    height: 28px;
    width: 28px;
    background-size: cover;
    position: absolute;
    transform: translate(-150%,-20%);

    @include for-tablet-landscape-up{
        transform: translate(-115%,-20%);
    }
}

.review-logo-container img{
    height: 40px;
}

.review img{
    height: 15%;
    padding: 8px 5px 8px 5px;
    margin: auto auto;
}