@import '../responsive';

.banner-section .banner-img{
    width: 1600px;;
    height: 100%;
    left: -10px;
    background-position: center;
    object-fit: cover;

    // @include for-mobile{
    //     background-size: cover;
    //     height: 100vh;
    // }

    // @include for-small-screen{
    //     background-size: cover;
    //     height: 100vh;
    // }
}

.text-container .description li i{
    background-image: url('../../assets/images/checkmark.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    position: absolute;
    transform: translate(0,-10%);
}