@import '../responsive';

.banner-section .banner-img{
    max-width: 1600px;;
    height: 100%;
    left: -10px;
    object-fit: cover;

    // @include for-mobile{
    //     background-size: cover;
    //     height: 100vh;
    // }

    // @include for-small-screen{
    //     background-size: cover;
    //     height: 100vh;
    // }
}

.text-container .description li i{
    background-image: url('../../assets/images/checkmark.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    position: absolute;
    transform: translate(0,-10%);
}

.video-video-container .image{
    position: relative;
    background-image: url('../../assets/images/video-img.png');
    height: 66%;
    width: auto;
    margin: 48px 45px;
    background-position: center;
    background-size: cover;
}

.video-description li i{
    background-image: url('../../assets/images/circle-checkmark.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    position: absolute;
    transform: translate(0,-10%);
}

.video-button{
    background-image: url('../../assets/images/video-button.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.idea-img{
    height: 111px;
}

// .inspiration-img-wrapper{
//         // width: 30%;
//     height: 30%;
//     width: 30%;
// }

// .inspiration-img-wrapper img{
//     margin: 15px 15px;
// }

.inspiration-img-wrapper img{
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
    height: auto;
}