.protection-heading p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin: 0;
}
.protection-body ul{
    padding-left: 0;
    padding-right: 30px;
}

.protection-body li{
    list-style: none;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}