.review-heading {
    width: 100%;
    justify-content: center;
    display: flex;
    height:20%;
}

.review-heading h1{
    padding-top: 30px;
    font-size: 2.3rem;
}

.rating-container h1{
    margin: 0;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.rating-container h2{
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 5px;
    color: gray;
    font-family: 'Ubuntu', sans-serif;
}

.rating-container p{
    font-size: 13px;
    font-weight: 200;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.review-text{
    padding: 8px 5px 8px 5px;
    text-align: center;
    width: 73%;
    font-size: 0.9rem;
    margin: auto auto;


    @include for-mobile{
        font-size: 1.4rem;
        width: 66%;
        margin: auto auto;
    }
}

.review.slick-slide{
    width: 1%;
}