.scroll-to-top{
    padding: 13.5px 17px;
    color: #ffffff;
    right: 0;
    position: fixed;
    background-color: #C78529;
    z-index: 10;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 12px;
    transition: all .3Ss;
    bottom: 30px;
}

.remove{
    opacity: 0;
    z-index: -1;
    transition: all .3s ;
    visibility: hidden;
}