@import '../responsive';

.video-heading h1{
    padding-top: 28px;
    padding-left: 45px;
    padding-right: 100px;
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: inherit;
    line-height: 1.3;
    color: #151515;
    margin-bottom: 0;

    @include for-desktop-small{
        padding-left: 20px;
    }
}

.video-heading-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}

.video-heading-description p{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 45px; 
    padding-right: 30px;
    font-size: 1rem;
    font-weight: lighter;

    @include for-mobile{
        font-size: 1.4rem;
    }

    @include for-desktop-small{
        padding-left: 20px;
    }
}
ul.video-description {
    @include for-desktop-small{
        padding-left: 0;
    }
}

.video-description li{
    list-style: none;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.video-description li span{
    padding-left: 35px;
    padding-bottom: 10px;;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1rem;

    @include for-mobile{
        font-size: 1.4rem;
    }
}

