.banner-section {
    position: relative;
    overflow: hidden;
}

.banner-section {
    &::after{
        content: '';
        background-color: rgba(0, 0, 0, 0.42);
        position: absolute;
        top: 0;
        left: 0;
        height: 99.5%;
        width: 100%;
    }
}

.banner-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: aqua;
}

.banner-text-container{
    height: 55%;
    width: 75%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    // background-color: chartreuse;
    margin-top: 165px;
    margin-left: 160px;

    // @include for-mobile{
    //     height: 80vh;
    //     width: 100%;
    //     margin: 90px 0;
    // }
}

.text-container{
    width: 60%;
    height: 100%;
}

.empty-container{
    width: 40%;
    height: 100%;
}