.contact-section{
    overflow: hidden;
    background-color: rgba(248, 248, 248, 0.7);
    padding: 50px 0 70px 0;
}

.contact-container{
    width: 80%;
    height: 95%;
    margin: auto auto;
    z-index: 10;
}

.contact-heading{
    width: 80%;
    margin: auto auto;
    text-align: center;
}

form{
    background-color: #151515;
    width: 67%;
    margin: 0 auto;
    margin-top: 45px;
    padding: 25px 0;
    text-align: center;
}

.form-wrapper{
    padding-top: 16px;
    margin: 0 auto;
    width: 62%;
    height: auto;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.place-container, .text-area{
    display: flex;
}

.form-checkbox-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}