@import '../responsive';

.footer-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    color: #FFFFFF;
}

.footer-container{
    padding-top: 65px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 55%;
    margin: auto auto;
    font-weight: 300;
}

.footer-logo{
    height: 100%;
    width: 23%;
}

.footer-desc{
    height: 100%;
    width: 31%;
}

.footer-info{
    height: 100%;
    width: 20%;
}

.footer-contact{
    height: 100%;
    width: 26%;
    // background-color: rgb(189, 127, 255);
}
