@import '../responsive';

.main-header{
    position: fixed;
    width: 100%;
    z-index: 9;
}

.contact-header{
    display: flex;
    justify-content: right;
    //padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
}

.contact-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 10%;
    font-weight: 150;
    font-family: 'Ubuntu', sans-serif;

    @include for-mobile{
        width: 100%;
        // margin-right: 10px;
        // margin-left: 10px;
    }
}
.contact-items li{
    padding-left: 20px;
}

.contact-items a{
    color: #FFFFFF;
    padding: 0 5px;
    text-decoration: none;
}

.contact-items a:hover{
    color: #C78529;
    transition: all 500ms ease;
}

.menu-header{
    display: flex;
    height: 50px;
    padding: 15px 120px;
    margin: auto 35px;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;

    @include for-mobile{
        margin: 0 0;
        padding: 0 5px;
    }
//     @include for-small-screen{
//         margin: 0 0;
//         padding: 0 5px;
//     }
}

.logo-container{
    display: flex;
    align-items: center;
}

.menu-items{
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.menu-items a{
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    padding: 9px 5px;
    text-decoration: none;
}

.menu-items a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #C78529;
    transition: 0.3s;
}

.menu-items a:hover::after{
    width: 100%
}