@import '../responsive';

.main-header{
    position: fixed;
    width: 100%;
    z-index: 9;
}

.contact-header{
    display: flex;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.37);
}

.contact-header.hide{
    display: none;
}

.contact-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 80px;
    font-weight: 150;
    font-family: 'Ubuntu', sans-serif;

    @include for-mobile{
        width: 100%;
        padding-left: 0;
        margin-right: 15px;
        font-size: 1.3rem;
    }
}
.contact-items li{
    padding-left: 20px;
}

.contact-items a{
    color: #FFFFFF;
    padding: 0 5px;
    text-decoration: none;
}

.contact-items a:hover{
    color: #C78529;
    transition: all 500ms ease;
}

.menu-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    padding: 15px 110px;
    margin: auto 35px;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;

    @include for-mobile{
        margin: 0 0;
        padding: 0 5px;
    }
//     @include for-small-screen{
//         margin: 0 0;
//         padding: 0 5px;
//     }
}

.main-header.scroll{
    background-color: #000;
    padding-bottom: 8px;
    padding-top: 0;

    .menu-header{
        padding-top: 5px;
    }
}

.logo-container{
    display: flex;
    align-items: center;
}

.menu-items{
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin: 0;
}

.menu-items a{
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    padding: 9px 5px;
    text-decoration: none;
}

.menu-items a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 0;
    height: 2px;
    background-color: #C78529;
    transition: 0.3s;
}

.menu-items a:hover::after{
    width: 100%;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 10px;
}

.sub-menu li{
    list-style: none;
}

.sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sub-menu a:hover{
    text-decoration: none;
    color: #C78529;
    transition: all 500ms ease;
}

.sub-menu a:after{
    background: none;
}

.indoor:hover .sub-menu {
    display: block;
}

.outdoor:hover .sub-menu {
    display: block;
}

.outdoor .sub-menu li{
    list-style: none;
}