@import '../responsive';

.idea-solution-section{
    overflow: hidden;
    background-color: rgba(248, 248, 248, 0.7);
    display: flex;
    padding: 30px 0 50px 0;
}

.idea-solution-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
}

.idea-solution-heading{
    height: 20%;
    text-align: center;
    padding: 20px;
}

.idea-wrapper{
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 180px 0;

    @include for-desktop{
        padding: 20px 0 0;
    }
}

.idea-box .idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    width: 235px;

    @include for-mobile{
        padding-left: 40px;
    }
}