.idea-solution-section{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 240vh;
    left: 0;
    z-index: 1;
    display: flex;

    &::after{
        content: '';
        background-color: rgba(248, 248, 248, 0.7);
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
    }
}

.idea-solution-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
}

.idea-solution-heading{
    height: 20%;
    text-align: center;
    z-index: 1;
    padding: 20px;
}

.idea-solution-body{
    z-index: 1;
}

.idea-wrapper{
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 180px 0;
}

.idea-box .idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    width: 235px;
}