.inspiration-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.inspiration-heading{
    height: 20%;
    width: 80%;
    padding-top: 35px;
    margin: 0 120px;
}

.inspiration-body{
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px;
}

.inspiration-img-wrapper{
    display: flex;
    position: relative !important;
    width:32.5% !important;
    height: 48.5% !important;
    left: 0 !important;
    top: 0 !important;
    margin: 5px 5px !important;


    &:hover {
        .image-overlay-text{
            opacity: 1;
            z-index: 99;
            visibility: visible;
            cursor: pointer;
            transition: all 3s;
        }
    }

    .image-overlay-text{
        display: flex;
        width: 83%;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        height: 28%;
        z-index: -1;
        background: rgba(255, 255, 255, 0.8);
        margin-top: 180px;
        justify-content: center;
        padding: 20px 25px 0;
        margin-left: 15px;
        border-radius: 5px;
        transition: all .3s;
    }
}

.inspiration-img-wrapper:hover.inspiration-img-wrapper::after{
    content: '';
    position: absolute;
    background-color: #00000047;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-overlay-text{
    display: none;
}

.inspiration-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inspiration-category{
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 120px;
    font-family: 'Ubuntu', sans-serif;
}

.inspiration-category a{
    display: inline-block;
    position: relative;
    padding: 9px 5px;
    text-decoration: none;
}

.inspiration-category a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: 0.3s;
}

.inspiration-category a:hover::after{
    width: 100%;
}

.inspiration-category .active::after{
    width: 100%;

}