@import 'header';
@import 'banner';
@import 'video';
@import 'review';
@import 'idea-solution';
@import 'inspiration';
@import 'protection';
@import 'contact';
@import 'footer';
@import 'slick';
@import '../responsive';