.protection-section{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 455vh;
    left: 0;
    display: flex;
    flex-direction: column;
    // background-color: aquamarine;
}