.review-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.review-container{
    width: 83%;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    border: solid 3px #CCCCCC;
}

.reviews{
    height: 80%;
    width: 100%;
    background-color: darkseagreen;
}

.review-rating-logo{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}