.review-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.review-container{
    width: 83%;
    height: 220px;
    margin: 20px auto 45px;
    display: flex;
    flex-direction: column;
    border: solid 3px #CCCCCC;

}

.reviews{
    height: 80%;
    width: 100%;
    position: relative;
}

.review-rating-logo{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-container{
    display: flex;
    flex-direction: row;
}

.rating-container p{
    cursor: pointer;
}

.review-wrapper{
    height: 100%;
    width: 95%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}

.review{
    height: 327px;
}

