.video-section{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 90vh;
    left: 0;
    z-index: 1;
    // background-color: aquamarine;
    display: flex;

    &::after{
        content: '';
        background-color: rgba(248, 248, 248, 0.42);
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
    }
}

.video-container{
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    z-index: 1;
}

.video-video-container{
    height: 100%;
    width:50%;

    // &::after{
    //     content: '';
    //     background-color: rgba(16, 8, 8, 0.44);
    //     position: absolute;
    //     top:0;
    //     left:0;
    //     height:100%;
    //     width:100%;
    //     z-index: 2;
    // }
}

.video-text-container{
    height: 100%;
    width:50%;
    
    // background-color: darkcyan;
}