@import '../responsive';

.video-section{
    overflow: hidden;
    display: flex;
    background-color: rgba(248, 248, 248, 0.7);
    padding-bottom: 80px;
}

.video-container{
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;

    @include for-mobile{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    @include for-desktop-up{
        width: 100%;
        margin-left: 0;
    }
}

.video-video-container{
    height: 100%;
    width: 50%;

    @include for-mobile{
        width: 100%;
        margin-top: 25px;
    }
}

.video-text-container{
    height: 100%;
    width:50%;

    @include for-mobile{
        width: 100%;
    }
}

.image .video-bg-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 8, 8, 0.44);
    cursor: pointer;
}

.video-button-container{
    padding: 150px 243px 150px 250px;
    height: 100px;
    width: 100px;
    transition: all 0.5s;

    @include for-mobile{
        padding: 150px !important;
        margin: auto auto;
    }

    @include extra{
        padding: 125px;
    }

    @include for-phone-only{
        padding: 85px !important;
    }

    @include for-tablet-landscape-up{
        padding: 80px 103px ;
    }

    @include for-desktop-up{
        padding: 120px 190px ;
    }

    @include for-desktop{
        padding: 150px 205px;
    }

    @include for-desktop-small{
        padding: 90px 157px;
    }
}

#light{
    display: none;
    position: fixed;
    top: 10%;
    left: 12%;
    width: 75%;
    height: 100%;
    z-index: 1002;
    overflow: visible;

    @include for-mobile{
        left: 0;
        width: 100%;
    }
}

#vid{
    width: 100%;
    height: 80vh;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#boxclose {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }

.boxclose:before {
    content: "×";
}

#fade:hover ~ #boxclose {
    display:none;
}

.only-video{
    display: none;
}

