@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

@media (max-width: 599px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
.banner-section .banner-img {
  max-width: 1600px;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .banner-section .banner-img {
    max-width: 1200px;
  }
}

.text-container .description li i {
  background-image: url("../../assets/images/checkmark.png");
  height: 24px;
  width: 24px;
  background-size: cover;
  position: absolute;
  transform: translate(0, -10%);
}

.video-video-container .image {
  position: relative;
  background-image: url("../../assets/images/video-img.png");
  height: 66%;
  width: auto;
  margin: 48px 45px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .video-video-container .image {
    margin: 0;
  }
}

.video-description li i {
  background-image: url("../../assets/images/circle-checkmark.png");
  height: 24px;
  width: 24px;
  background-size: cover;
  position: absolute;
  transform: translate(0, -10%);
}

.video-button {
  background-image: url("../../assets/images/video-button.png");
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.idea-img {
  height: 111px;
}

.inspiration-img-wrapper img {
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  height: auto;
}

.protection-img-container img {
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
}

.footer-logo img {
  padding-left: 65px;
}

.footer-desc ul li i {
  background-image: url("../../assets/images/circle-checkmark-white.png");
  height: 28px;
  width: 28px;
  background-size: cover;
  position: absolute;
  transform: translate(-150%, -20%);
}

.review-logo-container img {
  height: 40px;
}

.review img {
  height: 50%;
  padding: 8px 5px 8px 0;
}

.contact-items .fa-phone {
  padding-right: 7px;
}

.contact-items .fa-envelope {
  padding-right: 7px;
}

.menu-items .fa-angle-down {
  padding-left: 5px;
  padding-top: 2px;
  font-size: 11px;
}

.footer-contact .fa-phone {
  padding-right: 9px;
}

.footer-contact .fa-envelope {
  padding-right: 9px;
}

.footer-contact .fa-location-dot {
  padding-right: 9px;
}

.rating-container .fa-angle-right {
  cursor: pointer;
  color: gray;
  padding-top: 12px;
  padding-left: 10px;
  font-size: 13px;
}

.book a {
  padding: 15px;
  background-color: #C78529;
  color: #FFFFFF;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
}

.book a:hover {
  background-color: #c27100;
}

.book-bg a:hover {
  background-color: #C78529;
  border: 2px solid #C78529;
  color: #FFFFFF;
  transition: all 0.3s;
}

.btns {
  align-items: center;
  display: flex;
  margin-right: 0;
  width: auto;
}

.banner-buttons {
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 55px;
  margin-top: 25px;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .banner-buttons {
    width: 70% !important;
    margin: 25px auto;
    font-size: 1.3rem;
  }
}
@media (max-width: 1400px) {
  .banner-buttons {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .banner-buttons {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .banner-buttons {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .banner-buttons {
    width: 90% !important;
  }
}

.book-home-visit-banner a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding: 13.7px 20px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

.video-text-buttons {
  display: flex;
  justify-content: space-between;
  width: 51%;
  height: 55px;
  margin-top: 15px;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .video-text-buttons {
    width: 50%;
    margin: 25px 0 25px 25px;
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .video-text-buttons {
    width: 65%;
  }
}
@media (max-width: 533px) {
  .video-text-buttons {
    width: 68%;
  }
}
@media (max-width: 1400px) {
  .video-text-buttons {
    width: 55.5%;
  }
}
@media (max-width: 1024px) {
  .video-text-buttons {
    width: 63%;
  }
}

.book-home-visit-video a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding: 13px 15px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.book-home-visit-idea {
  display: flex;
  justify-content: center;
  padding: 25px 0 5px 0;
  font-weight: 400;
}

.decor a {
  font-family: "Ubuntu", sans-serif;
  width: 120px;
  font-weight: 400;
  padding: 10px 15px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
}

.contact-details {
  margin-top: 5px;
}

.contact-details .disable-btn {
  padding: 10px 15px;
  background-color: #C78529;
  color: #FFFFFF;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.disable-btn:hover {
  cursor: pointer;
  background-color: #c27100;
}

.text-container h1 {
  padding: 0 35px;
  font-size: 3.3rem;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .text-container h1 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .text-container h1 {
    padding: 0 10px;
  }
}

.description {
  margin: 0;
  list-style: none;
  padding-top: 15px;
}
@media (max-width: 480px) {
  .description {
    padding-left: 0;
  }
}

.description li {
  padding-bottom: 20px;
}

.description li span {
  padding-left: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .description li span {
    font-size: 1.4rem;
  }
}

.video-heading h1 {
  padding-top: 28px;
  padding-left: 45px;
  padding-right: 100px;
  font-size: 2.3rem;
  font-weight: 800;
  text-transform: inherit;
  line-height: 1.3;
  color: #151515;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .video-heading h1 {
    padding-left: 20px;
  }
}

.video-heading-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}

.video-heading-description p {
  font-family: "Ubuntu", sans-serif;
  padding-left: 45px;
  padding-right: 30px;
  font-size: 1rem;
  font-weight: lighter;
}
@media (max-width: 767px) {
  .video-heading-description p {
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .video-heading-description p {
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  ul.video-description {
    padding-left: 20px;
  }
}

.video-description li {
  list-style: none;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.video-description li span {
  padding-left: 35px;
  padding-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .video-description li span {
    font-size: 1.4rem;
  }
}

.review-heading {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 20%;
}

.review-heading h1 {
  padding-top: 30px;
  font-size: 36px;
}

.rating-container h1 {
  margin: 0;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
}

.rating-container h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 5px;
  color: gray;
  font-family: "Ubuntu", sans-serif;
}

.rating-container p {
  font-size: 13px;
  font-weight: 200;
  color: gray;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Ubuntu", sans-serif;
}

.idea-solution-heading p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.idea-solution-heading h1 {
  margin: 0;
  font-size: 36px;
}

.idea-box h3 {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

.idea-box p {
  text-align: center;
  line-height: 1.5;
  padding: 0 15px;
  margin: 0;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}

.dashed-line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 80px;
  border-top: 2px dashed #000;
  transform: translate(120px, 50px);
}

.inspiration-heading h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: unset;
  margin-bottom: 10px;
}

.inspiration-heading h1 {
  width: 40%;
  font-size: 36px;
  margin-top: 0;
  line-height: 1.3;
}

.inspiration-category ul {
  width: 45%;
  padding: 0;
}

.inspiration-category ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
}

.inspiration-category a {
  text-decoration: none;
  color: #000000;
}

.image-overlay-text ul {
  margin: 0;
  padding: 0;
}

.image-overlay-text ul li {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  list-style: none;
  display: inline;
}

.image-overlay-text ul li + li:before {
  padding: 8px;
  color: black;
  content: "/\a";
}

.inspiration-link h3 {
  font-size: 16px;
  margin: 7px 0;
}

.protection-heading p {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  margin: 0;
}

.protection-body ul {
  padding-left: 0;
  padding-right: 30px;
}

.protection-body li {
  list-style: none;
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.contact-heading h1 {
  font-size: 37px;
  padding-bottom: 5px;
}

.contact-heading p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}

form p {
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

input, textarea {
  border: none;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
}

.info-container input {
  padding: 13px;
  width: 43.5%;
  border-radius: 3px;
}

.place-container input {
  width: 100%;
  padding: 13px;
  margin-top: 15px;
  border-radius: 3px;
}

.text-area {
  width: 95%;
  height: 110px;
  margin-top: 15px;
  padding: 13px;
  border-radius: 3px;
}

.form-checkbox-button {
  display: flex;
  margin-top: 15px;
  font-family: "Ubuntu", sans-serif;
}

.checkbox-container {
  display: flex;
}

.checkbox-container p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin-left: 5px;
}

.footer-desc h3 {
  margin: 5px;
  padding-left: 6px;
  font-size: 20px;
  font-weight: 900;
}

.footer-desc ul {
  margin-top: 30px;
}

.footer-desc ul li {
  list-style: none;
  padding: 10px 0 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.footer-info h3 {
  padding-left: 8px;
  margin: 5px;
  font-size: 20px;
  font-weight: 900;
}

.footer-info ul {
  padding-left: 15px;
  margin-top: 30px;
}

.footer-info ul li {
  list-style: none;
  padding: 10px 0 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.footer-info ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.footer-info ul li a:hover {
  text-decoration: none;
  color: #C78529;
  transition: all 500ms ease;
}

.footer-contact h3 {
  padding-left: 8px;
  margin: 5px;
  font-size: 20px;
  font-weight: 900;
}

.footer-contact ul {
  padding-left: 16px;
  margin-top: 30px;
}

.footer-contact ul li {
  list-style: none;
  padding: 10px 0 5px 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.footer-contact ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.footer-contact ul li a:hover {
  text-decoration: none;
  color: #C78529;
  transition: all 500ms ease;
}

.footer-contact .address {
  padding-left: 22px;
}

input[type=checkbox] {
  margin-top: 12px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border: 1px solid #c27100;
}

.copyright {
  background-color: #000;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.scroll-to-top {
  padding: 13.5px 17px;
  color: #ffffff;
  right: 0;
  position: fixed;
  background-color: #C78529;
  z-index: 10;
  border-radius: 3px;
  margin-right: 15px;
  font-size: 12px;
  transition: all 0.3Ss;
  bottom: 30px;
}

.remove {
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
  visibility: hidden;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.contact-header {
  display: flex;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.37);
}

.contact-header.hide {
  display: none;
}

.contact-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 80px;
  font-weight: 150;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 767px) {
  .contact-items {
    width: 100%;
    padding-left: 0;
    margin-right: 15px;
    font-size: 1.5rem;
  }
}

.contact-items li {
  padding-left: 20px;
}

.contact-items a {
  color: #FFFFFF;
  padding: 0 5px;
  text-decoration: none;
}

.contact-items a:hover {
  color: #C78529;
  transition: all 500ms ease;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 50px;
  padding: 15px 110px;
  margin: auto 35px;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .menu-header {
    margin: 0 0;
    padding: 0 5px;
  }
}

.main-header.scroll {
  background-color: #000;
  padding-bottom: 8px;
  padding-top: 0;
}
.main-header.scroll .menu-header {
  padding-top: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin: 0;
}

.menu-items a {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  padding: 9px 5px;
  text-decoration: none;
}

.menu-items a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: #C78529;
  transition: 0.3s;
}

.menu-items a:hover::after {
  width: 100%;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 10px;
}

.sub-menu li {
  list-style: none;
}

.sub-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sub-menu a:hover {
  text-decoration: none;
  color: #C78529;
  transition: all 500ms ease;
}

.sub-menu a:after {
  background: none;
}

.indoor:hover .sub-menu {
  display: block;
}

.outdoor:hover .sub-menu {
  display: block;
}

.outdoor .sub-menu li {
  list-style: none;
}

.banner-section {
  position: relative;
  overflow: hidden;
}

.banner-section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  height: 99.5%;
  width: 100%;
}

.banner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-text-container {
  height: 55%;
  width: 75%;
  align-items: center;
  color: #FFFFFF;
  margin-top: 165px;
  margin-left: 160px;
}
@media (max-width: 767px) {
  .banner-text-container {
    width: 85%;
    margin: 165px auto;
  }
}
@media (max-width: 1200px) {
  .banner-text-container {
    width: 85%;
    margin: 165px auto;
  }
}
@media (max-width: 1024px) {
  .banner-text-container {
    margin: 140px auto;
  }
}

.text-container {
  width: 60%;
  height: 100%;
}
@media (max-width: 767px) {
  .text-container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .text-container {
    width: 100%;
  }
}

.empty-container {
  width: 40%;
  height: 100%;
}
@media (max-width: 767px) {
  .empty-container {
    display: none;
  }
}
@media (max-width: 1200px) {
  .empty-container {
    display: none;
  }
}

.video-section {
  overflow: hidden;
  display: flex;
  background-color: rgba(248, 248, 248, 0.7);
  padding-bottom: 80px;
}

.video-container {
  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-left: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .video-container {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1200px) {
  .video-container {
    width: 100%;
    margin-left: 0;
  }
}

.video-video-container {
  height: 100%;
  width: 50%;
}
@media (max-width: 767px) {
  .video-video-container {
    width: 100%;
    margin-top: 25px;
  }
}

.video-text-container {
  height: 100%;
  width: 50%;
}
@media (max-width: 767px) {
  .video-text-container {
    width: 100%;
  }
}

.image .video-bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(16, 8, 8, 0.44);
  cursor: pointer;
}

.video-button-container {
  padding: 150px 243px 150px 250px;
  height: 100px;
  width: 100px;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .video-button-container {
    padding: 150px;
    margin: auto auto;
  }
}
@media (max-width: 533px) {
  .video-button-container {
    padding: 125px;
  }
}
@media (max-width: 480px) {
  .video-button-container {
    padding: 85px !important;
  }
}
@media (max-width: 900px) {
  .video-button-container {
    padding: 80px 103px !important;
  }
}
@media (max-width: 1200px) {
  .video-button-container {
    padding: 120px 190px;
  }
}
@media (max-width: 1400px) {
  .video-button-container {
    padding: 150px 205px;
  }
}
@media (max-width: 1024px) {
  .video-button-container {
    padding: 90px 157px;
  }
}

#light {
  display: none;
  position: fixed;
  top: 10%;
  left: 12%;
  width: 75%;
  height: 100%;
  z-index: 1002;
  overflow: visible;
}
@media (max-width: 767px) {
  #light {
    left: 0;
    width: 100%;
  }
}

#vid {
  width: 100%;
  height: 80vh;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display: none;
}

.only-video {
  display: none;
}

.review-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.review-container {
  width: 83%;
  height: 220px;
  margin: 20px auto 45px;
  display: flex;
  flex-direction: column;
  border: solid 3px #CCCCCC;
}

.reviews {
  height: 80%;
  width: 100%;
  position: relative;
}

.review-rating-logo {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-container {
  display: flex;
  flex-direction: row;
}

.rating-container p {
  cursor: pointer;
}

.review-wrapper {
  height: 100%;
  width: 95%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
}

.review {
  height: 327px;
}

.idea-solution-section {
  overflow: hidden;
  background-color: rgba(248, 248, 248, 0.7);
  display: flex;
  padding: 30px 0 50px 0;
}

.idea-solution-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
}

.idea-solution-heading {
  height: 20%;
  text-align: center;
  padding: 20px;
}

.idea-wrapper {
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 20px 180px 0;
}

.idea-box .idea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  width: 235px;
}

.inspiration-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.inspiration-heading {
  height: 20%;
  width: 80%;
  padding-top: 35px;
  margin: 0 120px;
}

.inspiration-body {
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
}

.inspiration-img-wrapper {
  display: flex;
  position: relative !important;
  width: 32.5% !important;
  height: 48.5% !important;
  left: 0 !important;
  top: 0 !important;
  margin: 5px 5px !important;
}
.inspiration-img-wrapper:hover .image-overlay-text {
  opacity: 1;
  z-index: 99;
  visibility: visible;
  cursor: pointer;
  transition: all 3s;
}
.inspiration-img-wrapper .image-overlay-text {
  display: flex;
  width: 83%;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  height: 28%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 180px;
  justify-content: center;
  padding: 20px 25px 0;
  margin-left: 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

.inspiration-img-wrapper:hover.inspiration-img-wrapper::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2784313725);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-overlay-text {
  display: none;
}

.inspiration-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inspiration-category {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 120px;
  font-family: "Ubuntu", sans-serif;
}

.inspiration-category a {
  display: inline-block;
  position: relative;
  padding: 9px 5px;
  text-decoration: none;
}

.inspiration-category a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 0.3s;
}

.inspiration-category a:hover::after {
  width: 100%;
}

.inspiration-category .active::after {
  width: 100%;
}

.protection-section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.protection-img-container {
  width: 51%;
}

.protection-text-container {
  width: 49%;
  display: flex;
  justify-content: center;
}

.protection-text {
  height: 70%;
  width: 80%;
  margin-top: 130px;
}

.protection-body {
  padding-bottom: 30px;
}

.protection-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 20%;
}

.contact-section {
  overflow: hidden;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 50px 0 70px 0;
}

.contact-container {
  width: 80%;
  height: 95%;
  margin: auto auto;
  z-index: 10;
}

.contact-heading {
  width: 80%;
  margin: auto auto;
  text-align: center;
}

form {
  background-color: #151515;
  width: 67%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 25px 0;
  text-align: center;
}

.form-wrapper {
  padding-top: 16px;
  margin: 0 auto;
  width: 62%;
  height: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.place-container, .text-area {
  display: flex;
}

.form-checkbox-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: #FFFFFF;
}

.footer-container {
  padding-top: 65px;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 55%;
  margin: auto auto;
  font-weight: 300;
}

.footer-logo {
  height: 100%;
  width: 23%;
}

.footer-desc {
  height: 100%;
  width: 31%;
}

.footer-info {
  height: 100%;
  width: 20%;
}

.footer-contact {
  height: 100%;
  width: 26%;
}

.slick-prev:before, .slick-next:before {
  color: gray;
}

.slick-list.draggable {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
