body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 599px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
.banner-section .banner-img {
  max-width: 1600px;
  height: 100%;
  left: -10px;
  background-position: center;
  object-fit: cover;
}

.text-container .description li i {
  background-image: url("../../assets/images/checkmark.png");
  height: 24px;
  width: 24px;
  background-size: cover;
  position: absolute;
  transform: translate(0, -10%);
}

.contact-items .fa-phone {
  padding-right: 7px;
}

.contact-items .fa-envelope {
  padding-right: 7px;
}

.menu-items .fa-angle-down {
  padding-left: 5px;
  padding-top: 2px;
  font-size: 11px;
}

.book-home-visit {
  align-items: center;
  display: flex;
}

.book-home-visit a {
  padding: 15px;
  background-color: #C78529;
  color: #FFFFFF;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
}

.book-home-visit a:hover {
  background-color: #c27100;
}

.banner-buttons {
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 55px;
  margin-top: 25px;
  margin-left: 40px;
}

.see-our-products {
  align-items: center;
  display: flex;
  margin-right: 0;
  width: auto;
}

.see-our-products a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 12px 20px;
  background-color: #C78529;
  color: #FFFFFF;
  transition: all 0.3s;
  text-decoration: none;
}

.see-our-products a:hover {
  background-color: #c27100;
}

.book-home-visit-banner {
  align-items: center;
  display: flex;
  margin-right: 0;
  width: auto;
}

.book-home-visit-banner a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 12px 20px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

.book-home-visit-banner a:hover {
  background-color: #C78529;
  border: #C78529;
  transition: all 500ms ease;
}

.text-container h1 {
  padding: 0 35px;
  font-size: 52px;
  margin-bottom: 10px;
}

.description {
  margin: 0;
  list-style: none;
  padding-top: 15px;
}

.description li {
  padding-bottom: 20px;
}

.description li span {
  padding-left: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.video-heading h1 {
  padding-top: 28px;
  padding-left: 45px;
  padding-right: 100px;
  font-size: 36px;
  font-weight: 800;
  text-transform: inherit;
  line-height: 1.3;
  color: #151515;
  margin-bottom: 0;
}

.video-heading-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.video-heading-description p {
  font-family: "Ubuntu", sans-serif;
  padding-left: 45px;
  padding-right: 30px;
  font-size: 17px;
  font-weight: lighter;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.contact-header {
  display: flex;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.37);
}

.contact-header .hide {
  display: none;
}

.contact-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 10%;
  font-weight: 150;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 767px) {
  .contact-items {
    width: 100%;
  }
}

.contact-items li {
  padding-left: 20px;
}

.contact-items a {
  color: #FFFFFF;
  padding: 0 5px;
  text-decoration: none;
}

.contact-items a:hover {
  color: #C78529;
  transition: all 500ms ease;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 50px;
  padding: 15px 110px;
  margin: auto 35px;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .menu-header {
    margin: 0 0;
    padding: 0 5px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin: 0;
}

.menu-items a {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  padding: 9px 5px;
  text-decoration: none;
}

.menu-items a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: #C78529;
  transition: 0.3s;
}

.menu-items a:hover::after {
  width: 100%;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 10px;
}

.sub-menu li {
  list-style: none;
}

.sub-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sub-menu a:hover {
  text-decoration: none;
  color: #C78529;
  transition: all 500ms ease;
}

.sub-menu a:after {
  background: none;
}

.indoor:hover .sub-menu {
  display: block;
}

.outdoor:hover .sub-menu {
  display: block;
}

.outdoor .sub-menu li {
  list-style: none;
}

.banner-section {
  position: relative;
  overflow: hidden;
}

.banner-section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  height: 99.5%;
  width: 100%;
}

.banner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-text-container {
  height: 55%;
  width: 75%;
  align-items: center;
  color: #FFFFFF;
  margin-top: 165px;
  margin-left: 160px;
}

.text-container {
  width: 60%;
  height: 100%;
}

.empty-container {
  width: 40%;
  height: 100%;
}

.video-section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 90%;
  top: 90vh;
  left: 0;
  z-index: 1;
  display: flex;
}
.video-section::after {
  content: "";
  background-color: rgba(248, 248, 248, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-container {
  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-left: 80px;
  display: flex;
  z-index: 1;
}

.video-video-container {
  height: 100%;
  width: 50%;
}

.video-text-container {
  height: 100%;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
